@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, header, body, main{
  background: #644bff;
  padding: 0 0px;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.nav-menu, a, .active{
    color: white;
    padding: 10px;
    font-size: 17px;
}

a{
    text-decoration: none;
}
nav{
  background: purple;
  height: 150px;
}
hr{
  box-shadow: 0px 1px 5px 3px white;
  background: white;
  margin-top: 100px;
}
::selection{
  color: #fff;
  background: #664AFF;
}

.container{
  max-width: 450px;
  margin: 150px auto;
}

.container .input-group{
  background: gray;
  width: 100%;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.input-group input{
  height: 55px;
  width: 27cm;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.input-group.active input{
  border-radius: 5px 5px 0 0;
}

.input-group .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
  padding: 10px;
}

.input-group.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.input-group.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.input-group .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}

h1, p{
    text-align: center;
}

.clickable{
    cursor: pointer;
}

